<router-outlet></router-outlet>
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>TCAMPY</h1>
						<p>
							Subscribe to our forum and get 20% off our services
						</p>
						<div class="friend-logo">
							<span><img src="images/wink.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on<a>
							Instagram , Facebook , Twitter
						</a>
						</a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p>
								Don’t use TCAMPY Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
							</p>
						<form [formGroup]="login">
							<div class="form-group">	
							  <input formControlName="username" type="text" id="input" required="required"/>
							  <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input formControlName="password" type="password" required="required"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							  </label>
							</div>
							<a href="#" title="" class="forgot-pwd">Forgot Password?</a>
							<div class="submit-btns">
								<button  (click)="handlelogin()" class="mtr-btn signin" type="button"><span>Login</span></button>
								<a href="register"><button  class="mtr-btn signup" type="button"><a></a><span>Register</span></button></a>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>